.blockquote-paragraph { color: #5e6264;text-align:justify; }

.result-placeholder { min-height:50px; font-size: 24px; }

 h1 { padding: 2%; }

section { padding-top: 2%; }

#encrypt-btn { float: right;  }
