.blockquote-paragraph { color: #5e6264;text-align:justify; }

.result-placeholder { min-height:50px; font-size: 24px; }

.icon { font-size: 30px; margin: 2%; }

footer { font-size: 24px; border-top: 2px solid #f2f2f2; padding: 6%; }

a .icon, a .icon:hover, a .icon:visited { color: black; text-decoration: none; }

h1 { padding: 2%; }

section { padding-top: 2%; }

#encrypt-btn { float: right;  }
